@model IEnumerable<SchoolTreinee.Web.Models.StudentViewModel>
@{
    ViewData["Title"] = "Index";
}
<header>
    <hgroup>
        <h2 class="header">Alunos</h2>
    </hgroup>
</header>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var view in Model)
                {
                    <tr>
                        <td>@view.Nome</td>
                        <td>@view.Idade</td>
                        <td>@view.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
